<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ActiproSoftware.Controls.WPF" version="22.1.0" targetFramework="net48" />
  <package id="ActiproSoftware.Controls.WPF.BarCode" version="22.1.0" targetFramework="net48" />
  <package id="ActiproSoftware.Controls.WPF.Charts" version="22.1.0" targetFramework="net48" />
  <package id="ActiproSoftware.Controls.WPF.Docking" version="22.1.0" targetFramework="net48" />
  <package id="ActiproSoftware.Controls.WPF.Editors" version="22.1.0" targetFramework="net48" />
  <package id="ActiproSoftware.Controls.WPF.Editors.Interop.DataGrid" version="22.1.0" targetFramework="net48" />
  <package id="ActiproSoftware.Controls.WPF.Editors.Interop.Grids" version="22.1.0" targetFramework="net48" />
  <package id="ActiproSoftware.Controls.WPF.Gauge" version="22.1.0" targetFramework="net48" />
  <package id="ActiproSoftware.Controls.WPF.Grids" version="22.1.0" targetFramework="net48" />
  <package id="ActiproSoftware.Controls.WPF.MicroCharts" version="22.1.0" targetFramework="net48" />
  <package id="ActiproSoftware.Controls.WPF.Navigation" version="22.1.0" targetFramework="net48" />
  <package id="ActiproSoftware.Controls.WPF.Ribbon" version="22.1.0" targetFramework="net48" />
  <package id="ActiproSoftware.Controls.WPF.Shared" version="22.1.0" targetFramework="net48" />
  <package id="ActiproSoftware.Controls.WPF.Shell" version="22.1.0" targetFramework="net48" />
  <package id="ActiproSoftware.Controls.WPF.SyntaxEditor" version="22.1.0" targetFramework="net48" />
  <package id="ActiproSoftware.Controls.WPF.Views" version="22.1.0" targetFramework="net48" />
  <package id="ActiproSoftware.Controls.WPF.Wizard" version="22.1.0" targetFramework="net48" />
</packages>